table {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

thead {
  background-color: #6f7984;
  color: white;
  margin-top: 30px;
}

th, td {
  padding: 16px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f0ff;
}

caption {
  caption-side: top;
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgb(26, 33, 109);
  font-weight: bold;
}